

// BGS

.color_white, .color_whitehover:hover {
  color: $white;
}

.color_black, .color_blackhover:hover {
  color: $black;
}

// green
.color_light_green_0, .color_light_green_0hover:hover {
  color: $light_green_0;
}

.color_light_green_1, .color_light_green_1hover:hover {
  color: $light_green_1;
}

.color_light_green_2, .color_light_green_2hover:hover {
  color: $light_green_2;
}

.color_light_green_3, .color_light_green_3hover:hover {
  color: $light_green_3;
}

.color_light_green_4, .color_light_green_4hover:hover {
  color: $light_green_4;
}

.color_light_green_5, .color_light_green_5hover:hover {
  color: $light_green_5;
}

.color_light_green_6, .color_light_green_6hover:hover {
  color: $light_green_6;
}

.color_light_green_7, .color_light_green_7hover:hover {
  color: $light_green_7;
}

.color_light_green_8, .color_light_green_8hover:hover {
  color: $light_green_8;
}

.color_light_green_9, .color_light_green_9hover:hover {
  color: $light_green_9;
}

.color_dark_green_0, .color_dark_green_0hover:hover {
  color: $dark_green_0;
}

.color_dark_green_1, .color_dark_green_1hover:hover {
  color: $dark_green_1;
}

.color_dark_green_2, .color_dark_green_2hover:hover {
  color: $dark_green_2;
}

.color_dark_green_3, .color_dark_green_3hover:hover {
  color: $dark_green_3;
}

.color_dark_green_4, .color_dark_green_4hover:hover {
  color: $dark_green_4;
}

.color_dark_green_5, .color_dark_green_5hover:hover {
  color: $dark_green_5;
}

.color_dark_green_6, .color_dark_green_6hover:hover {
  color: $dark_green_6;
}

.color_dark_green_7, .color_dark_green_7hover:hover {
  color: $dark_green_7;
}

.color_dark_green_8, .color_dark_green_8hover:hover {
  color: $dark_green_8;
}

.color_dark_green_9, .color_dark_green_9hover:hover {
  color: $dark_green_9;
}

// yellow

.color_light_yellow_0, .color_light_yellow_0hover:hover {
  color: $light_yellow_0;
}

.color_light_yellow_1, .color_light_yellow_1hover:hover {
  color: $light_yellow_1;
}

.color_light_yellow_2, .color_light_yellow_2hover:hover {
  color: $light_yellow_2;
}

.color_light_yellow_3, .color_light_yellow_3hover:hover {
  color: $light_yellow_3;
}

.color_light_yellow_4, .color_light_yellow_4hover:hover {
  color: $light_yellow_4;
}

.color_light_yellow_5, .color_light_yellow_5hover:hover {
  color: $light_yellow_5;
}

.color_light_yellow_6, .color_light_yellow_6hover:hover {
  color: $light_yellow_6;
}

.color_light_yellow_7, .color_light_yellow_7hover:hover {
  color: $light_yellow_7;
}

.color_light_yellow_8, .color_light_yellow_8hover:hover {
  color: $light_yellow_8;
}

.color_light_yellow_9, .color_light_yellow_9hover:hover {
  color: $light_yellow_9;
}

.color_dark_yellow_0, .color_dark_yellow_0hover:hover {
  color: $dark_yellow_0;
}

.color_dark_yellow_1, .color_dark_yellow_1hover:hover {
  color: $dark_yellow_1;
}

.color_dark_yellow_2, .color_dark_yellow_2hover:hover {
  color: $dark_yellow_2;
}

.color_dark_yellow_3, .color_dark_yellow_3hover:hover {
  color: $dark_yellow_3;
}

.color_dark_yellow_4, .color_dark_yellow_4hover:hover {
  color: $dark_yellow_4;
}

.color_dark_yellow_5, .color_dark_yellow_5hover:hover {
  color: $dark_yellow_5;
}

.color_dark_yellow_6, .color_dark_yellow_6hover:hover {
  color: $dark_yellow_6;
}

.color_dark_yellow_7, .color_dark_yellow_7hover:hover {
  color: $dark_yellow_7;
}

.color_dark_yellow_8, .color_dark_yellow_8hover:hover {
  color: $dark_yellow_8;
}

.color_dark_yellow_9, .color_dark_yellow_9hover:hover {
  color: $dark_green_9;
}