
.photo_person1 {
  background: url("http://gnougn.com/photos/person1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.photo_person2 {
  background: url("http://gnougn.com/photos/person2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.photo_person3 {
  background: url("http://gnougn.com/photos/person3.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.photo_person3 {
  background: url("http://gnougn.com/photos/person3.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.photo_person4 {
  background: url("http://gnougn.com/photos/person4.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.photo_person5 {
  background: url("http://gnougn.com/photos/person5.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.photo_person6 {
  background: url("http://gnougn.com/photos/person6.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.photo_person7 {
  background: url("http://gnougn.com/photos/person7.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.photo_person8 {
  background: url("http://gnougn.com/photos/person8.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.photo_person9 {
  background: url("http://gnougn.com/photos/person9.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.photo_person10 {
  background: url("http://gnougn.com/photos/person10.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.photo_person11 {
  background: url("http://gnougn.com/photos/person11.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.photo_person12 {
  background: url("http://gnougn.com/photos/person12.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.photo_person13 {
  background: url("http://gnougn.com/photos/person13.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.photo_person14 {
  background: url("http://gnougn.com/photos/person14.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.photo_person15 {
  background: url("http://gnougn.com/photos/person15.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.photo_person16 {
  background: url("http://gnougn.com/photos/person16.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.photo_person17 {
  background: url("http://gnougn.com/photos/person17.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.photo_person18 {
  background: url("http://gnougn.com/photos/person18.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.photo_person19 {
  background: url("http://gnougn.com/photos/person19.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.photo_person20 {
  background: url("http://gnougn.com/photos/person20.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.photo_person21 {
  background: url("http://gnougn.com/photos/person21.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.photo_person22 {
  background: url("http://gnougn.com/photos/person22.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.photo_person23 {
  background: url("http://gnougn.com/photos/person23.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.photo_person24 {
  background: url("http://gnougn.com/photos/person24.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.photo_person25 {
  background: url("http://gnougn.com/photos/person25.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.photo_person26 {
  background: url("http://gnougn.com/photos/person26.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.photo_person27 {
  background: url("http://gnougn.com/photos/person27.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.photo_person28 {
  background: url("http://gnougn.com/photos/person28.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.photo_person29 {
  background: url("http://gnougn.com/photos/person29.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.photo_person30 {
  background: url("http://gnougn.com/photos/person30.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.photo_person31 {
  background: url("http://gnougn.com/photos/person31.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.photo_person32 {
  background: url("http://gnougn.com/photos/person32.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.photo_person33 {
  background: url("http://gnougn.com/photos/person33.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.photo_person34 {
  background: url("http://gnougn.com/photos/person34.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.photo_person35 {
  background: url("http://gnougn.com/photos/person35.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.photo_person36 {
  background: url("http://gnougn.com/photos/person36.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.photo_person37 {
  background: url("http://gnougn.com/photos/person37.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.photo_person38 {
  background: url("http://gnougn.com/photos/person38.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.photo_person39 {
  background: url("http://gnougn.com/photos/person39.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.photo_person40 {
  background: url("http://gnougn.com/photos/person40.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.photo_person41 {
  background: url("http://gnougn.com/photos/person41.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.photo_person42 {
  background: url("http://gnougn.com/photos/person42.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.photo_person43 {
  background: url("http://gnougn.com/photos/person43.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.photo_person44 {
  background: url("http://gnougn.com/photos/person44.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.photo_person45 {
  background: url("http://gnougn.com/photos/person45.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.photo_person46 {
  background: url("http://gnougn.com/photos/person46.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.photo_person47 {
  background: url("http://gnougn.com/photos/person47.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.photo_person48 {
  background: url("http://gnougn.com/photos/person48.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.photo_person49 {
  background: url("http://gnougn.com/photos/person49.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.photo_person50 {
  background: url("http://gnougn.com/photos/person50.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.photo_person51 {
  background: url("http://gnougn.com/photos/person51.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.photo_person52 {
  background: url("http://gnougn.com/photos/person52.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.photo_person53 {
  background: url("http://gnougn.com/photos/person53.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.photo_person54 {
  background: url("http://gnougn.com/photos/person54.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.photo_person55 {
  background: url("http://gnougn.com/photos/person55.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.photo_person56 {
  background: url("http://gnougn.com/photos/person56.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.photo_person57 {
  background: url("http://gnougn.com/photos/person57.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.photo_person58 {
  background: url("http://gnougn.com/photos/person58.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.photo_person59 {
  background: url("http://gnougn.com/photos/person59.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.photo_person60 {
  background: url("http://gnougn.com/photos/person60.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.photo_person61 {
  background: url("http://gnougn.com/photos/person61.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.photo_person62 {
  background: url("http://gnougn.com/photos/person62.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.photo_person63 {
  background: url("http://gnougn.com/photos/person63.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.photo_person64 {
  background: url("http://gnougn.com/photos/person64.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.photo_person65 {
  background: url("http://gnougn.com/photos/person65.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.photo_person66 {
  background: url("http://gnougn.com/photos/person66.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.photo_person67 {
  background: url("http://gnougn.com/photos/person67.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.photo_person68 {
  background: url("http://gnougn.com/photos/person68.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.photo_person69 {
  background: url("http://gnougn.com/photos/person69.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }