
// BGS

.background_white, .background_white_hover:hover {
  background: $white;
}

.background_black, .background_black_hover:hover {
  background: $black;
}

.background_light_green_0, .background_light_green_0_hover:hover {
  background: $light_green_0;
}

.background_light_green_1, .background_light_green_1_hover:hover {
  background: $light_green_1;
}

.background_light_green_2, .background_light_green_2_hover:hover {
  background: $light_green_2;
}

.background_light_green_3, .background_light_green_3_hover:hover {
  background: $light_green_3;
}

.background_light_green_4, .background_light_green_4_hover:hover {
  background: $light_green_4;
}

.background_light_green_5, .background_light_green_5_hover:hover {
  background: $light_green_5;
}

.background_light_green_6, .background_light_green_6_hover:hover {
  background: $light_green_6;
}

.background_light_green_7, .background_light_green_7_hover:hover {
  background: $light_green_7;
}

.background_light_green_8, .background_light_green_8_hover:hover {
  background: $light_green_8;
}

.background_light_green_9, .background_light_green_9_hover:hover {
  background: $light_green_9;
}

.background_dark_green_0, .background_dark_green_0_hover:hover {
  background: $dark_green_0;
}

.background_dark_green_1, .background_dark_green_1_hover:hover {
  background: $dark_green_1;
}

.background_dark_green_2, .background_dark_green_2_hover:hover {
  background: $dark_green_2;
}

.background_dark_green_3, .background_dark_green_3_hover:hover {
  background: $dark_green_3;
}

.background_dark_green_4, .background_dark_green_4_hover:hover {
  background: $dark_green_4;
}

.background_dark_green_5, .background_dark_green_5_hover:hover {
  background: $dark_green_5;
}

.background_dark_green_6, .background_dark_green_6_hover:hover {
  background: $dark_green_6;
}

.background_dark_green_7, .background_dark_green_7_hover:hover {
  background: $dark_green_7;
}

.background_dark_green_8, .background_dark_green_8_hover:hover {
  background: $dark_green_8;
}

.background_dark_green_9, .background_dark_green_9_hover:hover {
  background: $dark_green_9;
}

// yellow


.background_light_yellow_0, .background_light_yellow_0_hover:hover {
  background: $light_yellow_0;
}

.background_light_yellow_1, .background_light_yellow_1_hover:hover {
  background: $light_yellow_1;
}

.background_light_yellow_2, .background_light_yellow_2_hover:hover {
  background: $light_yellow_2;
}

.background_light_yellow_3, .background_light_yellow_3_hover:hover {
  background: $light_yellow_3;
}

.background_light_yellow_4, .background_light_yellow_4_hover:hover {
  background: $light_yellow_4;
}

.background_light_yellow_5, .background_light_yellow_5_hover:hover {
  background: $light_yellow_5;
}

.background_light_yellow_6, .background_light_yellow_6_hover:hover {
  background: $light_yellow_6;
}

.background_light_yellow_7, .background_light_yellow_7_hover:hover {
  background: $light_yellow_7;
}

.background_light_yellow_8, .background_light_yellow_8_hover:hover {
  background: $light_yellow_8;
}

.background_light_yellow_9, .background_light_yellow_9_hover:hover {
  background: $light_yellow_9;
}

.background_dark_yellow_0, .background_dark_yellow_0_hover:hover {
  background: $dark_yellow_0;
}

.background_dark_yellow_1, .background_dark_yellow_1_hover:hover {
  background: $dark_yellow_1;
}

.background_dark_yellow_2, .background_dark_yellow_2_hover:hover {
  background: $dark_yellow_2;
}

.background_dark_yellow_3, .background_dark_yellow_3_hover:hover {
  background: $dark_yellow_3;
}

.background_dark_yellow_4, .background_dark_yellow_4_hover:hover {
  background: $dark_yellow_4;
}

.background_dark_yellow_5, .background_dark_yellow_5_hover:hover {
  background: $dark_yellow_5;
}

.background_dark_yellow_6, .background_dark_yellow_6_hover:hover {
  background: $dark_yellow_6;
}

.background_dark_yellow_7, .background_dark_yellow_7_hover:hover {
  background: $dark_yellow_7;
}

.background_dark_yellow_8, .background_dark_yellow_8_hover:hover {
  background: $dark_yellow_8;
}

.background_dark_yellow_9, .background_dark_yellow_9_hover:hover {
  background: $dark_yellow_9;
}