$white: #ffffff;
$black: #000000;

$pink: #ff6188;
$blue: #78dce8;
$green: #a9dc76;
$purple: #ab9df2;
$orange: #fc9867;
$yellow: #ffd866;

$dark0: #d6d8d9;
$dark1: #b9bcbe;
$dark2: #9da3a5;
$dark3: #858c8f;
$dark4: #6e777b;
$dark5: #5a6568;
$dark6: #475558;
$dark7: #344649;
$dark8: #21393c;
$dark9: #092d30;

// light green _ green
$light_green_0: #edf3f0;
$light_green_1: #e0ebe5;
$light_green_2: #d2e3da;
$light_green_3: #c4dcd0;
$light_green_4: #b6d4c7;
$light_green_5: #a9cebe;
$light_green_6: #9ac7b5;
$light_green_7: #8cc1ac;
$light_green_8: #7fbba3;
$light_green_9: #71b59b;

// green _ dark green
$dark_green_0: #71b59b;
$dark_green_1: #64a28d;
$dark_green_2: #599281;
$dark_green_3: #4f8375;
$dark_green_4: #45756a;
$dark_green_5: #3b675f;
$dark_green_6: #315a55;
$dark_green_7: #284e4b;
$dark_green_8: #1f4242;
$dark_green_9: #153739;

// light yellow _ yellow
$light_yellow_0: #fef6eb;
$light_yellow_1: #fef1dd;
$light_yellow_2: #fcebce;
$light_yellow_3: #fce6c1;
$light_yellow_4: #fbe1b3;
$light_yellow_5: #fbdca6;
$light_yellow_6: #fbd899;
$light_yellow_7: #fad28b;
$light_yellow_8: #face7f;
$light_yellow_9: #f8c972;

// yellow _ dark yellow
$dark_yellow_0: #f8c972;
$dark_yellow_1: #d5b06b;
$dark_yellow_2: #b99c65;
$dark_yellow_3: #9f895f;
$dark_yellow_4: #867958;
$dark_yellow_5: #706951;
$dark_yellow_6: #5b5b4b;
$dark_yellow_7: #484e44;
$dark_yellow_8: #35423e;
$dark_yellow_9: #233837;
