//01

//dark
.text_shadow_01vh_dark {
    text-shadow: 0.1vh 0.1vh rgba(35, 56, 55, 0.5);
}

// green
.text_shadow_01vh_light_green_0 {
    text-shadow: 0.1vh 0.1vh $light-green-0;
}

.text_shadow_01vh_light_green_1 {
    text-shadow: 0.1vh 0.1vh $light-green-1;
}

.text_shadow_01vh_light_green_2 {
    text-shadow: 0.1vh 0.1vh $light-green-2;
}

.text_shadow_01vh_light_green_3 {
    text-shadow: 0.1vh 0.1vh $light-green-3;
}

.text_shadow_01vh_light_green_4 {
    text-shadow: 0.1vh 0.1vh $light-green-4;
}

.text_shadow_01vh_light_green_5 {
    text-shadow: 0.1vh 0.1vh $light-green-5;
}

.text_shadow_01vh_light_green_6 {
    text-shadow: 0.1vh 0.1vh $light-green-6;
}

.text_shadow_01vh_light_green_7 {
    text-shadow: 0.1vh 0.1vh $light-green-7;
}

.text_shadow_01vh_light_green_8 {
    text-shadow: 0.1vh 0.1vh $light-green-8;
}

.text_shadow_01vh_light_green_9 {
    text-shadow: 0.1vh 0.1vh $light-green-9;
}

.text_shadow_01vh_dark_green_0 {
    text-shadow: 0.1vh 0.1vh $dark-green-0;
}

.text_shadow_01vh_dark_green_1 {
    text-shadow: 0.1vh 0.1vh $dark-green-1;
}

.text_shadow_01vh_dark_green_2 {
    text-shadow: 0.1vh 0.1vh $dark-green-2;
}

.text_shadow_01vh_dark_green_3 {
    text-shadow: 0.1vh 0.1vh $dark-green-3;
}

.text_shadow_01vh_dark_green_4 {
    text-shadow: 0.1vh 0.1vh $dark-green-4;
}

.text_shadow_01vh_dark_green_5 {
    text-shadow: 0.1vh 0.1vh $dark-green-5;
}

.text_shadow_01vh_dark_green_6 {
    text-shadow: 0.1vh 0.1vh $dark-green-6;
}

.text_shadow_01vh_dark_green_7 {
    text-shadow: 0.1vh 0.1vh $dark-green-7;
}

.text_shadow_01vh_dark_green_8 {
    text-shadow: 0.1vh 0.1vh $dark-green-8;
}

.text_shadow_01vh_dark_green_9 {
    text-shadow: 0.1vh 0.1vh $dark-green-9;
}

// yellow

// 01
.text_shadow_01vh_light_yellow_0 {
    text-shadow: 0.1vh 0.1vh $light-yellow-0;
}

.text_shadow_01vh_light_yellow_1 {
    text-shadow: 0.1vh 0.1vh $light-yellow-1;
}

.text_shadow_01vh_light_yellow_2 {
    text-shadow: 0.1vh 0.1vh $light-yellow-2;
}

.text_shadow_01vh_light_yellow_3 {
    text-shadow: 0.1vh 0.1vh $light-yellow-3;
}

.text_shadow_01vh_light_yellow_4 {
    text-shadow: 0.1vh 0.1vh $light-yellow-4;
}

.text_shadow_01vh_light_yellow_5 {
    text-shadow: 0.1vh 0.1vh $light-yellow-5;
}

.text_shadow_01vh_light_yellow_6 {
    text-shadow: 0.1vh 0.1vh $light-yellow-6;
}

.text_shadow_01vh_light_yellow_7 {
    text-shadow: 0.1vh 0.1vh $light-yellow-7;
}

.text_shadow_01vh_light_yellow_8 {
    text-shadow: 0.1vh 0.1vh $light-yellow-8;
}

.text_shadow_01vh_light_yellow_9 {
    text-shadow: 0.1vh 0.1vh $light-yellow-9;
}

.text_shadow_01vh_dark_yellow_0 {
    text-shadow: 0.1vh 0.1vh $dark-yellow-0;
}

.text_shadow_01vh_dark_yellow_1 {
    text-shadow: 0.1vh 0.1vh $dark-yellow-1;
}

.text_shadow_01vh_dark_yellow_2 {
    text-shadow: 0.1vh 0.1vh $dark-yellow-2;
}

.text_shadow_01vh_dark_yellow_3 {
    text-shadow: 0.1vh 0.1vh $dark-yellow-3;
}

.text_shadow_01vh_dark_yellow_4 {
    text-shadow: 0.1vh 0.1vh $dark-yellow-4;
}

.text_shadow_01vh_dark_yellow_5 {
    text-shadow: 0.1vh 0.1vh $dark-yellow-5;
}

.text_shadow_01vh_dark_yellow_6 {
    text-shadow: 0.1vh 0.1vh $dark-yellow-6;
}

.text_shadow_01vh_dark_yellow_7 {
    text-shadow: 0.1vh 0.1vh $dark-yellow-7;
}

.text_shadow_01vh_dark_yellow_8 {
    text-shadow: 0.1vh 0.1vh $dark-yellow-8;
}

.text_shadow_01vh_dark_yellow_9 {
    text-shadow: 0.1vh 0.1vh $dark-yellow-9;
}

// 02
.text_shadow_02vh_light_yellow_0 {
    text-shadow: 0.2vh 0.2vh $light-yellow-0;
}

.text_shadow_02vh_light_yellow_1 {
    text-shadow: 0.2vh 0.2vh $light-yellow-1;
}

.text_shadow_02vh_light_yellow_2 {
    text-shadow: 0.2vh 0.2vh $light-yellow-2;
}

.text_shadow_02vh_light_yellow_3 {
    text-shadow: 0.2vh 0.2vh $light-yellow-3;
}

.text_shadow_02vh_light_yellow_4 {
    text-shadow: 0.2vh 0.2vh $light-yellow-4;
}

.text_shadow_02vh_light_yellow_5 {
    text-shadow: 0.2vh 0.2vh $light-yellow-5;
}

.text_shadow_02vh_light_yellow_6 {
    text-shadow: 0.2vh 0.2vh $light-yellow-6;
}

.text_shadow_02vh_light_yellow_7 {
    text-shadow: 0.2vh 0.2vh $light-yellow-7;
}

.text_shadow_02vh_light_yellow_8 {
    text-shadow: 0.2vh 0.2vh $light-yellow-8;
}

.text_shadow_02vh_light_yellow_9 {
    text-shadow: 0.2vh 0.2vh $light-yellow-9;
}

.text_shadow_02vh_dark_yellow_0 {
    text-shadow: 0.2vh 0.2vh $dark-yellow-0;
}

.text_shadow_02vh_dark_yellow_1 {
    text-shadow: 0.2vh 0.2vh $dark-yellow-1;
}

.text_shadow_02vh_dark_yellow_2 {
    text-shadow: 0.2vh 0.2vh $dark-yellow-2;
}

.text_shadow_02vh_dark_yellow_3 {
    text-shadow: 0.2vh 0.2vh $dark-yellow-3;
}

.text_shadow_02vh_dark_yellow_4 {
    text-shadow: 0.2vh 0.2vh $dark-yellow-4;
}

.text_shadow_02vh_dark_yellow_5 {
    text-shadow: 0.2vh 0.2vh $dark-yellow-5;
}

.text_shadow_02vh_dark_yellow_6 {
    text-shadow: 0.2vh 0.2vh $dark-yellow-6;
}

.text_shadow_02vh_dark_yellow_7 {
    text-shadow: 0.2vh 0.2vh $dark-yellow-7;
}

.text_shadow_02vh_dark_yellow_8 {
    text-shadow: 0.2vh 0.2vh $dark-yellow-8;
}

.text_shadow_02vh_dark_yellow_9 {
    text-shadow: 0.2vh 0.2vh $dark-yellow-9;
}

// 025
.text_shadow_025vh_light_yellow_0 {
    text-shadow: 0.25vh 0.25vh $light-yellow-0;
}

.text_shadow_025vh_light_yellow_1 {
    text-shadow: 0.25vh 0.25vh $light-yellow-1;
}

.text_shadow_025vh_light_yellow_2 {
    text-shadow: 0.25vh 0.25vh $light-yellow-2;
}

.text_shadow_025vh_light_yellow_3 {
    text-shadow: 0.25vh 0.25vh $light-yellow-3;
}

.text_shadow_025vh_light_yellow_4 {
    text-shadow: 0.25vh 0.25vh $light-yellow-4;
}

.text_shadow_025vh_light_yellow_5 {
    text-shadow: 0.25vh 0.25vh $light-yellow-5;
}

.text_shadow_025vh_light_yellow_6 {
    text-shadow: 0.25vh 0.25vh $light-yellow-6;
}

.text_shadow_025vh_light_yellow_7 {
    text-shadow: 0.25vh 0.25vh $light-yellow-7;
}

.text_shadow_025vh_light_yellow_8 {
    text-shadow: 0.25vh 0.25vh $light-yellow-8;
}

.text_shadow_025vh_light_yellow_9 {
    text-shadow: 0.25vh 0.25vh $light-yellow-9;
}

.text_shadow_025vh_dark_yellow_0 {
    text-shadow: 0.25vh 0.25vh $dark-yellow-0;
}

.text_shadow_025vh_dark_yellow_1 {
    text-shadow: 0.25vh 0.25vh $dark-yellow-1;
}

.text_shadow_025vh_dark_yellow_2 {
    text-shadow: 0.25vh 0.25vh $dark-yellow-2;
}

.text_shadow_025vh_dark_yellow_3 {
    text-shadow: 0.25vh 0.25vh $dark-yellow-3;
}

.text_shadow_025vh_dark_yellow_4 {
    text-shadow: 0.25vh 0.25vh $dark-yellow-4;
}

.text_shadow_025vh_dark_yellow_5 {
    text-shadow: 0.25vh 0.25vh $dark-yellow-5;
}

.text_shadow_025vh_dark_yellow_6 {
    text-shadow: 0.25vh 0.25vh $dark-yellow-6;
}

.text_shadow_025vh_dark_yellow_7 {
    text-shadow: 0.25vh 0.25vh $dark-yellow-7;
}

.text_shadow_025vh_dark_yellow_8 {
    text-shadow: 0.25vh 0.25vh $dark-yellow-8;
}

.text_shadow_025vh_dark_yellow_9 {
    text-shadow: 0.25vh 0.25vh $dark-yellow-9;
}

// 1

// green
.text_shadow_1vh_light_green_0 {
    text-shadow: 1vh 1vh $light-green-0;
}

.text_shadow_1vh_light_green_1 {
    text-shadow: 1vh 1vh $light-green-1;
}

.text_shadow_1vh_light_green_2 {
    text-shadow: 1vh 1vh $light-green-2;
}

.text_shadow_1vh_light_green_3 {
    text-shadow: 1vh 1vh $light-green-3;
}

.text_shadow_1vh_light_green_4 {
    text-shadow: 1vh 1vh $light-green-4;
}

.text_shadow_1vh_light_green_5 {
    text-shadow: 1vh 1vh $light-green-5;
}

.text_shadow_1vh_light_green_6 {
    text-shadow: 1vh 1vh $light-green-6;
}

.text_shadow_1vh_light_green_7 {
    text-shadow: 1vh 1vh $light-green-7;
}

.text_shadow_1vh_light_green_8 {
    text-shadow: 1vh 1vh $light-green-8;
}

.text_shadow_1vh_light_green_9 {
    text-shadow: 1vh 1vh $light-green-9;
}

.text_shadow_1vh_dark_green_0 {
    text-shadow: 1vh 1vh $dark-green-0;
}

.text_shadow_1vh_dark_green_1 {
    text-shadow: 1vh 1vh $dark-green-1;
}

.text_shadow_1vh_dark_green_2 {
    text-shadow: 1vh 1vh $dark-green-2;
}

.text_shadow_1vh_dark_green_3 {
    text-shadow: 1vh 1vh $dark-green-3;
}

.text_shadow_1vh_dark_green_4 {
    text-shadow: 1vh 1vh $dark-green-4;
}

.text_shadow_1vh_dark_green_5 {
    text-shadow: 1vh 1vh $dark-green-5;
}

.text_shadow_1vh_dark_green_6 {
    text-shadow: 1vh 1vh $dark-green-6;
}

.text_shadow_1vh_dark_green_7 {
    text-shadow: 1vh 1vh $dark-green-7;
}

.text_shadow_1vh_dark_green_8 {
    text-shadow: 1vh 1vh $dark-green-8;
}

.text_shadow_1vh_dark_green_9 {
    text-shadow: 1vh 1vh $dark-green-9;
}

// yellow
.text_shadow_1vh_light_yellow_0 {
    text-shadow: 1vh 1vh $light-yellow-0;
}

.text_shadow_1vh_light_yellow_1 {
    text-shadow: 1vh 1vh $light-yellow-1;
}

.text_shadow_1vh_light_yellow_2 {
    text-shadow: 1vh 1vh $light-yellow-2;
}

.text_shadow_1vh_light_yellow_3 {
    text-shadow: 1vh 1vh $light-yellow-3;
}

.text_shadow_1vh_light_yellow_4 {
    text-shadow: 1vh 1vh $light-yellow-4;
}

.text_shadow_1vh_light_yellow_5 {
    text-shadow: 1vh 1vh $light-yellow-5;
}

.text_shadow_1vh_light_yellow_6 {
    text-shadow: 1vh 1vh $light-yellow-6;
}

.text_shadow_1vh_light_yellow_7 {
    text-shadow: 1vh 1vh $light-yellow-7;
}

.text_shadow_1vh_light_yellow_8 {
    text-shadow: 1vh 1vh $light-yellow-8;
}

.text_shadow_1vh_light_yellow_9 {
    text-shadow: 1vh 1vh $light-yellow-9;
}

.text_shadow_1vh_dark_yellow_0 {
    text-shadow: 1vh 1vh $dark-yellow-0;
}

.text_shadow_1vh_dark_yellow_1 {
    text-shadow: 1vh 1vh $dark-yellow-1;
}

.text_shadow_1vh_dark_yellow_2 {
    text-shadow: 1vh 1vh $dark-yellow-2;
}

.text_shadow_1vh_dark_yellow_3 {
    text-shadow: 1vh 1vh $dark-yellow-3;
}

.text_shadow_1vh_dark_yellow_4 {
    text-shadow: 1vh 1vh $dark-yellow-4;
}

.text_shadow_1vh_dark_yellow_5 {
    text-shadow: 1vh 1vh $dark-yellow-5;
}

.text_shadow_1vh_dark_yellow_6 {
    text-shadow: 1vh 1vh $dark-yellow-6;
}

.text_shadow_1vh_dark_yellow_7 {
    text-shadow: 1vh 1vh $dark-yellow-7;
}

.text_shadow_1vh_dark_yellow_8 {
    text-shadow: 1vh 1vh $dark-yellow-8;
}

.text_shadow_1vh_dark_yellow_9 {
    text-shadow: 1vh 1vh $dark-yellow-9;
}

// text stroke

// 01
.text_stroke_01vh_light_yellow_9 {
  -webkit-text-stroke-width: .1vh;
  -webkit-text-stroke-color: $light-yellow-9;;
}

.text_stroke_01vh_dark_yellow_9 {
  -webkit-text-stroke-width: .1vh;
  -webkit-text-stroke-color: $dark-yellow-9;;
}

// 02
.text_stroke_02vh_light_yellow_9 {
  -webkit-text-stroke-width: .2vh;
  -webkit-text-stroke-color: $light-yellow-9;;
}

.text_stroke_02vh_dark_yellow_9 {
  -webkit-text-stroke-width: .2vh;
  -webkit-text-stroke-color: $dark-yellow-9;;
}

// 025
.text_stroke_025vh_light_yellow_9 {
  -webkit-text-stroke-width: .25vh;
  -webkit-text-stroke-color: $light-yellow-9;;
}

.text_stroke_025vh_dark_yellow_9 {
  -webkit-text-stroke-width: .25vh;
  -webkit-text-stroke-color: $dark-yellow-9;;
}

// 1
.text_stroke_1vh_light_yellow_9 {
  -webkit-text-stroke-width: 1vh;
  -webkit-text-stroke-color: $light-yellow-9;;
}

.text_stroke_1vh_dark_yellow_9 {
  -webkit-text-stroke-width: 1vh;
  -webkit-text-stroke-color: $dark-yellow-9;;
}