

/* VH */

.font_size_100vh {
  font-size: 100vh;
}

.font_size_8705vh {
  font-size: 87.5vh;
}

.font_size_75vh {
  font-size: 75vh;
}

.font_size_6705vh {
  font-size: 67.5vh;
}

.font_size_50vh {
  font-size: 50vh;
}

.font_size_40vh {
  font-size: 40vh;
}

.font_size_30vh {
  font-size: 30vh;
}

.font_size_25vh {
  font-size: 25vh;
}

.font_size_20vh {
  font-size: 20vh;
}

.font_size_1875vh {
  font-size: 18.75vh;
}

.font_size_15vh {
  font-size: 15vh;
}

.font_size_1205vh {
  font-size: 12.5vh;
}

.font_size_10vh {
  font-size: 10vh;
}

.font_size_9vh {
  font-size: 9vh;
}

.font_size_8vh {
  font-size: 8vh;
}

.font_size_705vh {
  font-size: 7.5vh;
}

.font_size_7vh {
  font-size: 7vh;
}

.font_size_6vh {
  font-size: 6vh;
}

.font_size_5vh {
  font-size: 5vh;
}

.font_size_405vh {
  font-size: 4.5vh;
}

.font_size_4vh {
  font-size: 4vh;
}

.font_size_305vh {
  font-size: 3.5vh;
}

.font_size_3vh {
  font-size: 3vh;
}

.font_size_2075vh {
  font-size: 2.75vh;
}

.font_size_205vh {
  font-size: 2.5vh;
}

.font_size_2025vh {
  font-size: 2.25vh;
}

.font_size_2vh {
  font-size: 2vh;
}

.font_size_1075vh {
  font-size: 1.75vh;
}

.font_size_105vh {
  font-size: 1.5vh;
}

.font_size_1vh {
  font-size: 1vh;
}
