ul {
  position: relative;
  float: left;

  > ul { 
  width: calc(100% - 1vh);
    margin-left: 1vh;
  }


  > li:before {
    position: relative;
    padding: .25vh;
    margin: .25vh;
    content: '';
    color: $dark-yellow-9;
    line-height: 1vh;
    font-size: 1vh;
    text-align: center;
    display: inline-block;
    background: $light-yellow-0;
    border: 0.1vh solid $dark-yellow-9;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 1;
  }

  > li {
      counter-increment: item;
    position: relative;
    width: 100%;
    float: left;
  }
}

  ul.expand {
      display: none;
    }

  li:hover > ul.expand {
      display: block;
    }
    
ol {
  position: relative;
  width: calc(100% - 10vh);
  margin: 2vh 5vh 0;
  float: left;

  > li:after {
    position: absolute;
    left: -.5vh;
    top: -.5vh;
    padding: 1vh;
    content: counter(item);
    border-radius: 100%;
    color: $dark-yellow-9;
    width: 2.5vh;
    height: 2.5vh;
    line-height: 2.5vh;
    font-size: 2vh;
    text-align: center;
    display: inline-block;
    background: $light-yellow-0;
    border: 0.1vh solid $dark-yellow-9;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 1;
  }

  > li:before {
    position: absolute;
    left: 0vh;
    top: 0vh;
    padding: 1vh;
    content: '';
    border-radius: 100%;
    color: $dark-yellow-9;
    width: 2.5vh;
    height: 2.5vh;
    line-height: 2.5vh;
    font-size: 2vh;
    text-align: center;
    display: inline-block;
    background: $light-yellow-0;
    z-index: 1;
  }

  > li {
      counter-increment: item;
    position: relative;
    width: 100%;
    float: left;
  }
}

.query_numbered {
   counter-increment: item;
 }
 .query_numbered:after {
  position: absolute;
  left: -3.5vh;
  top: -3.5vh;
   padding: 1vh;
   content: counter(item);
   border-radius: 100%;
   color: white;
   width: 2.5vh;
   height: 2.5vh;
   line-height: 2.5vh;
   font-size: 2vh;
   text-align: center;
   display: inline-block;
    background: $dark-yellow-9;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 1;
 }

 .query_numbered:before {
  position: absolute;
  left: -3vh;
  top: -3vh;
   padding: 1vh;
   content: '';
   border-radius: 100%;
   color: white;
   width: 2.5vh;
   height: 2.5vh;
   line-height: 2.5vh;
   font-size: 2vh;
   text-align: center;
   display: inline-block;
    background: $dark-yellow-8;
    z-index: 1;
 }

.query_numbered_square {
   counter-increment: item;
 }

 .query_numbered_square:before {
    position: relative;
    content: counter(item);
    color: white;
    width: 10vh;
    height: 10vh;
    line-height: 10vh;
    font-size: 5vh;
    text-align: center;
    display: inline-block;
    float:left;
    background: $dark-yellow-9;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 1;
 }
