
.easing_01 {
-webkit-transition: all 100ms cubic-bezier(0.100, 0.100, 0.100, 0.100); 
   -moz-transition: all 100ms cubic-bezier(0.100, 0.100, 0.100, 0.100); 
     -o-transition: all 100ms cubic-bezier(0.100, 0.100, 0.100, 0.100); 
        transition: all 100ms cubic-bezier(0.100, 0.100, 0.100, 0.100); /* linear */

-webkit-transition-timing-function: cubic-bezier(0.100, 0.100, 0.100, 0.100); 
   -moz-transition-timing-function: cubic-bezier(0.100, 0.100, 0.100, 0.100); 
     -o-transition-timing-function: cubic-bezier(0.100, 0.100, 0.100, 0.100); 
        transition-timing-function: cubic-bezier(0.100, 0.100, 0.100, 0.100); /* linear */
}


.easing_02 {
-webkit-transition: all 200ms cubic-bezier(0.200, 0.200, 0.200, 0.200); 
   -moz-transition: all 200ms cubic-bezier(0.200, 0.200, 0.200, 0.200); 
     -o-transition: all 200ms cubic-bezier(0.200, 0.200, 0.200, 0.200); 
        transition: all 200ms cubic-bezier(0.200, 0.200, 0.200, 0.200); /* linear */

-webkit-transition-timing-function: cubic-bezier(0.200, 0.200, 0.200, 0.200); 
   -moz-transition-timing-function: cubic-bezier(0.200, 0.200, 0.200, 0.200); 
     -o-transition-timing-function: cubic-bezier(0.200, 0.200, 0.200, 0.200); 
        transition-timing-function: cubic-bezier(0.200, 0.200, 0.200, 0.200); /* linear */
}

.easing_05 {
-webkit-transition: all 500ms cubic-bezier(0.500, 0.500, 0.500, 0.500); 
   -moz-transition: all 500ms cubic-bezier(0.500, 0.500, 0.500, 0.500); 
     -o-transition: all 500ms cubic-bezier(0.500, 0.500, 0.500, 0.500); 
        transition: all 500ms cubic-bezier(0.500, 0.500, 0.500, 0.500); /* linear */

-webkit-transition-timing-function: cubic-bezier(0.500, 0.500, 0.500, 0.500); 
   -moz-transition-timing-function: cubic-bezier(0.500, 0.500, 0.500, 0.500); 
     -o-transition-timing-function: cubic-bezier(0.500, 0.500, 0.500, 0.500); 
        transition-timing-function: cubic-bezier(0.500, 0.500, 0.500, 0.500); /* linear */
}


.easing_025 {
-webkit-transition: all 500ms cubic-bezier(0.500, 0.500, 0.500, 0.500); 
   -moz-transition: all 500ms cubic-bezier(0.500, 0.500, 0.500, 0.500); 
     -o-transition: all 500ms cubic-bezier(0.500, 0.500, 0.500, 0.500); 
        transition: all 500ms cubic-bezier(0.500, 0.500, 0.500, 0.500); /* linear */

-webkit-transition-timing-function: cubic-bezier(0.500, 0.500, 0.500, 0.500); 
   -moz-transition-timing-function: cubic-bezier(0.500, 0.500, 0.500, 0.500); 
     -o-transition-timing-function: cubic-bezier(0.500, 0.500, 0.500, 0.500); 
        transition-timing-function: cubic-bezier(0.500, 0.500, 0.500, 0.500); /* linear */
}

.easing_1 {
-webkit-transition: all 1000ms cubic-bezier(0.1000, 0.1000, 0.1000, 0.1000); 
   -moz-transition: all 1000ms cubic-bezier(0.1000, 0.1000, 0.1000, 0.1000); 
     -o-transition: all 1000ms cubic-bezier(0.1000, 0.1000, 0.1000, 0.1000); 
        transition: all 1000ms cubic-bezier(0.1000, 0.1000, 0.1000, 0.1000); /* linear */

-webkit-transition-timing-function: cubic-bezier(0.1000, 0.1000, 0.1000, 0.1000); 
   -moz-transition-timing-function: cubic-bezier(0.1000, 0.1000, 0.1000, 0.1000); 
     -o-transition-timing-function: cubic-bezier(0.1000, 0.1000, 0.1000, 0.1000); 
        transition-timing-function: cubic-bezier(0.1000, 0.1000, 0.1000, 0.1000); /* linear */
}

.easing_2 {
-webkit-transition: all 2000ms cubic-bezier(0.2000, 0.2000, 0.2000, 0.2000); 
   -moz-transition: all 2000ms cubic-bezier(0.2000, 0.2000, 0.2000, 0.2000); 
     -o-transition: all 2000ms cubic-bezier(0.2000, 0.2000, 0.2000, 0.2000); 
        transition: all 2000ms cubic-bezier(0.2000, 0.2000, 0.2000, 0.2000); /* linear */

-webkit-transition-timing-function: cubic-bezier(0.2000, 0.2000, 0.2000, 0.2000); 
   -moz-transition-timing-function: cubic-bezier(0.2000, 0.2000, 0.2000, 0.2000); 
     -o-transition-timing-function: cubic-bezier(0.2000, 0.2000, 0.2000, 0.2000); 
        transition-timing-function: cubic-bezier(0.2000, 0.2000, 0.2000, 0.2000); /* linear */
}

.easing_3 {
-webkit-transition: all 3000ms cubic-bezier(0.3000, 0.3000, 0.3000, 0.3000); 
   -moz-transition: all 3000ms cubic-bezier(0.3000, 0.3000, 0.3000, 0.3000); 
     -o-transition: all 3000ms cubic-bezier(0.3000, 0.3000, 0.3000, 0.3000); 
        transition: all 3000ms cubic-bezier(0.3000, 0.3000, 0.3000, 0.3000); /* linear */

-webkit-transition-timing-function: cubic-bezier(0.3000, 0.3000, 0.3000, 0.3000); 
   -moz-transition-timing-function: cubic-bezier(0.3000, 0.3000, 0.3000, 0.3000); 
     -o-transition-timing-function: cubic-bezier(0.3000, 0.3000, 0.3000, 0.3000); 
        transition-timing-function: cubic-bezier(0.3000, 0.3000, 0.3000, 0.3000); /* linear */
}

.easing_4 {
-webkit-transition: all 4000ms cubic-bezier(0.4000, 0.4000, 0.4000, 0.4000); 
   -moz-transition: all 4000ms cubic-bezier(0.4000, 0.4000, 0.4000, 0.4000); 
     -o-transition: all 4000ms cubic-bezier(0.4000, 0.4000, 0.4000, 0.4000); 
        transition: all 4000ms cubic-bezier(0.4000, 0.4000, 0.4000, 0.4000); /* linear */

-webkit-transition-timing-function: cubic-bezier(0.4000, 0.4000, 0.4000, 0.4000); 
   -moz-transition-timing-function: cubic-bezier(0.4000, 0.4000, 0.4000, 0.4000); 
     -o-transition-timing-function: cubic-bezier(0.4000, 0.4000, 0.4000, 0.4000); 
        transition-timing-function: cubic-bezier(0.4000, 0.4000, 0.4000, 0.4000); /* linear */
}

.easing_5 {
-webkit-transition: all 5000ms cubic-bezier(0.5000, 0.5000, 0.5000, 0.5000); 
   -moz-transition: all 5000ms cubic-bezier(0.5000, 0.5000, 0.5000, 0.5000); 
     -o-transition: all 5000ms cubic-bezier(0.5000, 0.5000, 0.5000, 0.5000); 
        transition: all 5000ms cubic-bezier(0.5000, 0.5000, 0.5000, 0.5000); /* linear */

-webkit-transition-timing-function: cubic-bezier(0.5000, 0.5000, 0.5000, 0.5000); 
   -moz-transition-timing-function: cubic-bezier(0.5000, 0.5000, 0.5000, 0.5000); 
     -o-transition-timing-function: cubic-bezier(0.5000, 0.5000, 0.5000, 0.5000); 
        transition-timing-function: cubic-bezier(0.5000, 0.5000, 0.5000, 0.5000); /* linear */
}

.easing_6 {
-webkit-transition: all 6000ms cubic-bezier(0.6000, 0.6000, 0.6000, 0.6000); 
   -moz-transition: all 6000ms cubic-bezier(0.6000, 0.6000, 0.6000, 0.6000); 
     -o-transition: all 6000ms cubic-bezier(0.6000, 0.6000, 0.6000, 0.6000); 
        transition: all 6000ms cubic-bezier(0.6000, 0.6000, 0.6000, 0.6000); /* linear */

-webkit-transition-timing-function: cubic-bezier(0.6000, 0.6000, 0.6000, 0.6000); 
   -moz-transition-timing-function: cubic-bezier(0.6000, 0.6000, 0.6000, 0.6000); 
     -o-transition-timing-function: cubic-bezier(0.6000, 0.6000, 0.6000, 0.6000); 
        transition-timing-function: cubic-bezier(0.6000, 0.6000, 0.6000, 0.6000); /* linear */
}
