// green
.border_radius_circle {
    border-radius: 50%;
}

// green
.border_radius_1 {
    border-radius: 1%;
}

.border_radius_1vw {
    border-radius: 1vw;
}

.border_radius_1vh {
    border-radius: 1vh;
}

.border_radius_1px {
    border-radius: 1px;
}

// green
.border_radius_1_top {
    border-radius: 1% 1% 0% 0%;
}

.border_radius_1vw_top {
    border-radius: 1vw 1vw 0vw 0vw;
}

.border_radius_1vh_top {
    border-radius: 1vh 1vh 0vh 0vh;
}

.border_radius_1px_top {
    border-radius: 1px 1px 0px 0px;
}

.border_radius_1_bottom {
    border-radius: 0% 0% 1% 1%;
}

.border_radius_1vw_bottom {
    border-radius: 0vw 0vw 1vw 1vw ;
}

.border_radius_1vh_bottom {
    border-radius: 0vh 0vh 1vh 1vh ;
}

.border_radius_1px_bottom {
    border-radius: 0px 0px 1px 1px ;
}

.border_radius_1_left {
    border-radius: 1% 0% 0% 1%;
}

.border_radius_1vw_left {
    border-radius: 1vw 0vw 0vw  1vw ;
}

.border_radius_1vh_left {
    border-radius: 1vh 0vh 0vh 1vh ;
}

.border_radius_1px_left {
    border-radius: 1px 0px 0px 1px ;
}

.border_radius_1_right {
    border-radius: 0% 1% 1% 0%;
}

.border_radius_1vw_right {
    border-radius:  0vw 1vw 1vw 0vw ;
}

.border_radius_1vh_right {
    border-radius: 0vh 1vh 1vh 0vh ;
}

.border_radius_1px_right {
    border-radius: 0px 1px 1px 0px ;
}