.value_input {
	position: relative;
  width: 100%;
  float: left;
	 
	input {
		width: calc(100% - 15vh);
		margin: 0 7.5vh;
		float: left;
		height: 10vh;
		font-size: 5vh;
		line-height: 10vh;
		text-align: center;
	};

};

#element_ol_firebase_roster {
	position: relative;
	width: calc(100% - 10vh);
	margin: 2vh 5vh 0;
	float: left;

	> li:after {
		position: absolute;
		left: -.5vh;
		top: -.5vh;
		padding: 1vh;
		content: counter(item);
		border-radius: 100%;
		color: $dark-yellow-9;
		width: 2.5vh;
		height: 2.5vh;
		line-height: 2.5vh;
		font-size: 2vh;
		text-align: center;
		display: inline-block;
		background: $light-yellow-0;
		border: 0.1vh solid $dark-yellow-9;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		z-index: 1;
	}

	> li:before {
		position: absolute;
		left: 0vh;
		top: 0vh;
		padding: 1vh;
		content: '';
		border-radius: 100%;
		color: $dark-yellow-9;
		width: 2.5vh;
		height: 2.5vh;
		line-height: 2.5vh;
		font-size: 2vh;
		text-align: center;
		display: inline-block;
		background: $light-yellow-0;
		z-index: 1;
	}

	> li {
	   	counter-increment: item;
		position: relative;
		width: 100%;
		float: left;

		#container {
			width: calc(100% - 10vh);
			padding: 0 2.5vh 2.5vh;
			margin: 2.5vh;
			float: left;
			border: 0.1vh solid $dark-yellow-9;
		};

		#section {
			width: 100%;
			margin: 2.5vh 0 0;
			float: left;
		};

		

		#image {
			position: relative;
			width: 100%;
			margin: 0 0 2.5vh;
			float: left;
			border: 0.1vh solid $dark-yellow-9;
		};

		#content {
			width: 100%;
			margin: 0 0 2.5vh;
			float: left;
		};

		#meta {
			width: 100%;
			margin: 0 0 2.5vh;
			float: left;
		};

		#user {
			width: 100%;
			margin: 0 0 2.5vh;
			float: left;
		};

		button {
			  background: $light-yellow-9;
			position: relative;
			border: 0.1vh solid $dark-yellow-9;
    		box-shadow: 1vh 1vh $dark-yellow-9;
		    border-radius: 0;
		    margin: 1vh;
		    padding: 1vh;
			float: left;
		};

		button:hover {
		    box-shadow: 0vh 0vh solid rgba(0, 0, 0, 0);
		};

	};

};

#element_ol_firebase_library {
    position: relative;
    width: calc(100% - 10%);
    margin: 2vh 5% 0;
    float: left;

	> li:after {
		position: absolute;
		left: -.5vh;
		top: -.5vh;
		padding: 1vh;
		content: counter(item);
		border-radius: 100%;
		color: $dark-yellow-9;
		width: 2.5vh;
		height: 2.5vh;
		line-height: 2.5vh;
		font-size: 2vh;
		text-align: center;
		display: inline-block;
		background: $light-yellow-0;
		border: 0.1vh solid $dark-yellow-9;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		z-index: 1;
	}

	> li:before {
		position: absolute;
		left: 0vh;
		top: 0vh;
		padding: 1vh;
		content: '';
		border-radius: 100%;
		color: $dark-yellow-9;
		width: 2.5vh;
		height: 2.5vh;
		line-height: 2.5vh;
		font-size: 2vh;
		text-align: center;
		display: inline-block;
		background: $light-yellow-0;
		z-index: 1;
	}

	> li {
	   	counter-increment: item;
		position: relative;
		width: 33.33333%;
		float: left;

		#container {
			width: calc(100% - 10vh);
			padding: 0 2.5vh 2.5vh;
			margin: 2.5vh;
			float: left;
		};

		#section {
			width: 100%;
			margin: 2.5vh 0 0;
			float: left;
		};
	
		#image {
			position: relative;
			width: 100%;
			margin: 0 0 2.5vh;
			float: left;
			border: 0.1vh solid $dark-yellow-9;

			#element_annotate_top {
				width: calc(100% - 5vh);
				margin: 0 2.5vh;
				line-height: 5vh;
				font-size: 2vh;

				> div {
					width: 100%;
				};

			};
		};

		#content {
			width: calc(100% - 5vh);
			padding: 2.5vh;
			margin: 0 0 2.5vh;
			float: left;
			border: 0.1vh solid $dark-yellow-9;
			background: $light-yellow-0;
			line-height: 2.5vh;
			font-size: 2vh;
		};

		#interaction {
			width: calc(100% - 5vh);
			padding: 0 2.5vh 1vh;
			margin: 0 0 2.5vh;
			float: left;
			border: 0.1vh solid $dark-yellow-9;
			background: $light-yellow-0;
		};

		#meta {
			width: calc(100% - 5vh);
			padding: 0 2.5vh;
			margin: 0 0 2.5vh;
			float: left;
			border: 0.1vh solid $dark-yellow-9;
			background: $light-yellow-0;
			line-height: 5vh;
			font-size: 2vh;
		};

		#user {
			width: calc(100% - 5vh);
			padding: 0 2.5vh;
			margin: 0 0 2.5vh;
			float: left;
			border: 0.1vh solid $dark-yellow-9;
			background: $light-yellow-0;
			line-height: 5vh;
			font-size: 2vh;

			#profile_picture {
				border: 0.1vh solid $dark-yellow-9;
			}
		};

		#title {
			width: calc(100% - 5vh);
			padding: 0 2.5vh;
			margin: 0 0 2.5vh;
			float: left;
			border: 0.1vh solid $dark-yellow-9;
			background: $light-yellow-0;
			line-height: 5vh;
			font-size: 2vh;
		};

	};

};

#image_1 {
	display: none;
}

#image_2 {
	display: none;
}

#image_3 {
	display: none;
}

#image_4 {
	display: none;
}

#image_5 {
	display: none;
}

#image_6 {
	display: none;
}

#image_7 {
	display: none;
}

#image_8 {
	display: none;
}

#image_9 {
	display: none;
}

#image_10 {
	display: none;
}

#element_ol_firebase_library.standard {
	#image_1 {
		display: block;
	};
};

#element_ol_firebase_library.quote {
	#image_2 {
		display: block;
	};
};

#element_ol_firebase_library.image {
	#image_3 {
		display: block;
	};
};

#element_ol_firebase_library.video {
	#image_4 {
		display: block;
	};
};

#element_ol_firebase_library.gallery {
	#image_5 {
		display: block;
	};
};

#element_ol_firebase_library.aside {
	#image_6 {
		display: block;
	};
};

#element_ol_firebase_library.link {
	#image_7 {
		display: block;
	};
};

#element_ol_firebase_library.status {
	#image_8 {
		display: block;
	};
};

#element_ol_firebase_library.audio {
	#image_9 {
		display: block;
	};
};

#element_ol_firebase_library.chat {
	#image_10 {
		display: block;
	};
};

#element_ol_firebase_skills {
	position: relative;
	width: calc(100% - 10vh);
	margin: 2vh 5vh 0;
	float: left;

	> li:after {
		position: absolute;
		left: -.5vh;
		top: -.5vh;
		padding: 1vh;
		content: counter(item);
		border-radius: 100%;
		color: $dark-yellow-9;
		width: 2.5vh;
		height: 2.5vh;
		line-height: 2.5vh;
		font-size: 2vh;
		text-align: center;
		display: inline-block;
		background: $light-yellow-0;
		border: 0.1vh solid $dark-yellow-9;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		z-index: 1;
	}

	> li:before {
		position: absolute;
		left: 0vh;
		top: 0vh;
		padding: 1vh;
		content: '';
		border-radius: 100%;
		color: $dark-yellow-9;
		width: 2.5vh;
		height: 2.5vh;
		line-height: 2.5vh;
		font-size: 2vh;
		text-align: center;
		display: inline-block;
		background: $light-yellow-0;
		z-index: 1;
	}

	> li {
	   	counter-increment: item;
		position: relative;
		width: 100%;
		float: left;

		#container {
			width: calc(100% - 10vh);
			padding: 0 2.5vh 2.5vh;
			margin: 2.5vh;
			float: left;
			border: 0.1vh solid $dark-yellow-9;
		};

		#section {
			width: 100%;
			margin: 2.5vh 0 0;
			float: left;
			border: 0.1vh solid $dark-yellow-9;
		};
		

		#image {
			position: relative;
			width: 100%;
			margin: 0 0 2.5vh;
			float: left;
			border: 0.1vh solid $dark-yellow-9;
		};

		#content {
			width: 100%;
			margin: 0 0 2.5vh;
			float: left;
		};

		#meta {
			width: 100%;
			margin: 0 0 2.5vh;
			float: left;
		};

		#user {
			width: 100%;
			margin: 0 0 2.5vh;
			float: left;
		};

		button {
			  background: $light-yellow-9;
			position: relative;
			border: 0.1vh solid $dark-yellow-9;
    		box-shadow: 1vh 1vh $dark-yellow-9;
		    border-radius: 0;
		    margin: 1vh;
		    padding: 1vh;
			float: left;
		};

		button:hover {
		    box-shadow: 0vh 0vh solid rgba(0, 0, 0, 0);
		};

	};

};

#element_ol_firebase_abilities {
	position: relative;
	width: calc(100% - 10vh);
	margin: 2vh 5vh 0;
	float: left;

	> li:after {
		position: absolute;
		left: -.5vh;
		top: -.5vh;
		padding: 1vh;
		content: counter(item);
		border-radius: 100%;
		color: $dark-yellow-9;
		width: 2.5vh;
		height: 2.5vh;
		line-height: 2.5vh;
		font-size: 2vh;
		text-align: center;
		display: inline-block;
		background: $light-yellow-0;
		border: 0.1vh solid $dark-yellow-9;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		z-index: 1;
	}

	> li:before {
		position: absolute;
		left: 0vh;
		top: 0vh;
		padding: 1vh;
		content: '';
		border-radius: 100%;
		color: $dark-yellow-9;
		width: 2.5vh;
		height: 2.5vh;
		line-height: 2.5vh;
		font-size: 2vh;
		text-align: center;
		display: inline-block;
		background: $light-yellow-0;
		z-index: 1;
	}

	> li {
	   	counter-increment: item;
		position: relative;
		width: 100%;
		float: left;

		#container {
			width: calc(100% - 10vh);
			padding: 0 2.5vh 2.5vh;
			margin: 2.5vh;
			float: left;
			border: 0.1vh solid $dark-yellow-9;
		};

		#section {
			width: 100%;
			margin: 2.5vh 0 0;
			float: left;
		};

		

		#image {
			position: relative;
			width: 100%;
			margin: 0 0 2.5vh;
			float: left;
			border: 0.1vh solid $dark-yellow-9;
		};

		#content {
			width: 100%;
			margin: 0 0 2.5vh;
			float: left;
		};

		#meta {
			width: 100%;
			margin: 0 0 2.5vh;
			float: left;
		};

		#user {
			width: 100%;
			margin: 0 0 2.5vh;
			float: left;
		};

		button {
			  background: $light-yellow-9;
			position: relative;
			border: 0.1vh solid $dark-yellow-9;
    		box-shadow: 1vh 1vh $dark-yellow-9;
		    border-radius: 0;
		    margin: 1vh;
		    padding: 1vh;
			float: left;
		};

		button:hover {
		    box-shadow: 0vh 0vh solid rgba(0, 0, 0, 0);
		};

	};

};

#element_ol_firebase_partners {
	position: relative;
	width: calc(100% - 10vh);
	margin: 2vh 5vh 0;
	float: left;

	> li:after {
		position: absolute;
		left: -.5vh;
		top: -.5vh;
		padding: 1vh;
		content: counter(item);
		border-radius: 100%;
		color: $dark-yellow-9;
		width: 2.5vh;
		height: 2.5vh;
		line-height: 2.5vh;
		font-size: 2vh;
		text-align: center;
		display: inline-block;
		background: $light-yellow-0;
		border: 0.1vh solid $dark-yellow-9;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		z-index: 1;
	}

	> li:before {
		position: absolute;
		left: 0vh;
		top: 0vh;
		padding: 1vh;
		content: '';
		border-radius: 100%;
		color: $dark-yellow-9;
		width: 2.5vh;
		height: 2.5vh;
		line-height: 2.5vh;
		font-size: 2vh;
		text-align: center;
		display: inline-block;
		background: $light-yellow-0;
		z-index: 1;
	}

	> li {
	   	counter-increment: item;
		position: relative;
		width: 100%;
		float: left;

		#container {
			width: calc(100% - 10vh);
			padding: 0 2.5vh 2.5vh;
			margin: 2.5vh;
			float: left;
			border: 0.1vh solid $dark-yellow-9;
		};

		#section {
			width: 100%;
			margin: 2.5vh 0 0;
			float: left;
		};
		
		#image {
			position: relative;
			width: 100%;
			margin: 0 0 2.5vh;
			float: left;
			border: 0.1vh solid $dark-yellow-9;
		};

		#content {
			width: 100%;
			margin: 0 0 2.5vh;
			float: left;
		};

		#meta {
			width: 100%;
			margin: 0 0 2.5vh;
			float: left;
		};

		#user {
			width: 100%;
			margin: 0 0 2.5vh;
			float: left;
		};

		button {
			  background: $light-yellow-9;
			position: relative;
			border: 0.1vh solid $dark-yellow-9;
    		box-shadow: 1vh 1vh $dark-yellow-9;
		    border-radius: 0;
		    margin: 1vh;
		    padding: 1vh;
			float: left;
		};

		button:hover {
		    box-shadow: 0vh 0vh solid rgba(0, 0, 0, 0);
		};

	};

};

#element_ol_firebase_services {
	position: relative;
	width: calc(100% - 10vh);
	margin: 2vh 5vh 0;
	float: left;

	> li:after {
		position: absolute;
		left: -.5vh;
		top: -.5vh;
		padding: 1vh;
		content: counter(item);
		border-radius: 100%;
		color: $dark-yellow-9;
		width: 2.5vh;
		height: 2.5vh;
		line-height: 2.5vh;
		font-size: 2vh;
		text-align: center;
		display: inline-block;
		background: $light-yellow-0;
		border: 0.1vh solid $dark-yellow-9;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		z-index: 1;
	}

	> li:before {
		position: absolute;
		left: 0vh;
		top: 0vh;
		padding: 1vh;
		content: '';
		border-radius: 100%;
		color: $dark-yellow-9;
		width: 2.5vh;
		height: 2.5vh;
		line-height: 2.5vh;
		font-size: 2vh;
		text-align: center;
		display: inline-block;
		background: $light-yellow-0;
		z-index: 1;
	}

	> li {
	   	counter-increment: item;
		position: relative;
		width: 100%;
		float: left;

		#container {
			width: calc(100% - 10vh);
			padding: 0 2.5vh 2.5vh;
			margin: 2.5vh;
			float: left;
			border: 0.1vh solid $dark-yellow-9;
		};

		#section {
			width: 100%;
			margin: 2.5vh 0 0;
			float: left;
		};

		

		#image {
			position: relative;
			width: 100%;
			margin: 0 0 2.5vh;
			float: left;
			border: 0.1vh solid $dark-yellow-9;
		};

		#content {
			width: 100%;
			margin: 0 0 2.5vh;
			float: left;
		};

		#meta {
			width: 100%;
			margin: 0 0 2.5vh;
			float: left;
		};

		#user {
			width: 100%;
			margin: 0 0 2.5vh;
			float: left;
		};

		button {
			  background: $light-yellow-9;
			position: relative;
			border: 0.1vh solid $dark-yellow-9;
    		box-shadow: 1vh 1vh $dark-yellow-9;
		    border-radius: 0;
		    margin: 1vh;
		    padding: 1vh;
			float: left;
		};

		button:hover {
		    box-shadow: 0vh 0vh solid rgba(0, 0, 0, 0);
		};

	};

};